@using BlazorForms.Data
@using BlazorForms.Data.Models
@using BlazorForms.Data.Services
@using BlazorForms.Locales
@using Blazorise
@using Blazorise.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization
@inject UserManager<ApplicationUser> UserManager
@inject ITemplateService TemplateService
@inject IStringLocalizer<TemplateSettingRes> Localization
@inject ITagService TagService

<div class="card card-form mt-4">
   <div class="card-body border-0" style="min-height: 100px">
      <div class="card-title">
         <h3>@Localization["SettingsTitle"]</h3>
         <hr>
         <div class="px-3">
            <div class="row">
               <div class="col d-flex flex-column justify-content-center">
                  <h6 class="mb-1">@Localization["Visibility"]</h6>
                  <p style="font-size: 14px; color: darkgray">@Localization["VisibilityParagraph"]</p>
               </div>
               <div class="col d-flex justify-content-end">
                  <Switch TValue="bool" Checked="@Template.IsPublic" CheckedChanged="@OnCheckedChanged"></Switch>
               </div>
            </div>
            <hr/>
            <div class="row">
               <AutoCompleteTags TemplateId="Template.Id" TemplateTags="Template.Tags"/>
            </div>
            <hr>
            <div class="row">
               <div class="col d-flex flex-column justify-content-center">
                  <h6 class="mb-1">@Localization["FillOutAccess"]</h6>
                  <p style="font-size: 14px; color: darkgray">
                     @Localization["FillOutParagraph"]
                  </p>
               </div>
               <div class="col d-flex justify-content-end">
                  <div>
                     <Select TValue="int">
                        <SelectItem Value="1">All authenticated users</SelectItem>
                        <SelectItem Value="1">Custom users</SelectItem>
                     </Select>
                  </div>
               </div>
            </div>
            <div class="row px-4 ">
               <div class="d-flex gap-2">
                  <Autocomplete TItem="@ApplicationUser"
                                TValue="string"
                                Data="Users"
                                TextField="@((e) => e.Email)"
                                ValueField="@((e) => e.Id)"
                                @bind-SelectedValue="@SelectedSearchUsers"
                                @bind-SelectedText="SelectedAutoCompleteText"
                                Placeholder="Find an user..."
                                Filter="AutocompleteFilter.StartsWith"
                                FreeTyping
                                CustomFilter="@((item, searchValue) => item.Email.IndexOf(searchValue, 0, StringComparison.CurrentCultureIgnoreCase) >= 0)"
                                Style="width: 350px">
                  </Autocomplete>
                  <button class="btn btn-primary btn-sm px-3">Add</button>
               </div>
               <hr class="my-2">
               <div class="d-flex flex-column gap-2">
                  <div class="row">
                     <div class="d-flex gap-2 align-items-center col">
                        <div class="icon-circle">
                           e
                        </div>
                        <div class="d-flex flex-column">
                           <span class="comment-author fw-bold" style="font-size: 14px">example@gmail.com</span>
                           <span class="comment-date fw-lighter" style="font-size: 14px">Collaborator</span>
                        </div>
                     </div>
                     <div class="col d-flex justify-content-end">
                        <button class="btn btn-danger btn-sm my-1">Delete</button>
                     </div>
                  </div>

                  <div class="row">
                     <div class="d-flex gap-2 align-items-center col">
                        <div class="icon-circle">
                           e
                        </div>
                        <div class="d-flex flex-column">
                           <span class="comment-author fw-bold" style="font-size: 14px">example@gmail.com</span>
                           <span class="comment-date fw-lighter" style="font-size: 14px">Collaborator</span>
                        </div>
                     </div>
                     <div class="col d-flex justify-content-end">
                        <button class="btn btn-danger btn-sm my-1">Delete</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

@code {
   [Parameter] public Template Template { get; set; } = null!;
   public IEnumerable<ApplicationUser> Users { get; set; } = null!;
   
   protected override async Task OnInitializedAsync()
   {
      Users = await UserManager.Users.ToListAsync();
      await base.OnInitializedAsync();
   }

   public string SelectedSearchUsers { get; set; }
   public string SelectedAutoCompleteText { get; set; }

   async Task OnCheckedChanged(bool value)
   {
      Console.WriteLine("Switch Changed");
      Template.IsPublic = value;
      await TemplateService.UpdateTemplate(Template);
   }

   

}